:root {
  font-family: Inter, sans-serif, monospace;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #333;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
}

.react-grid-item.react-grid-placeholder {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  border-radius: 16px;
  z-index: 0;
  display: none !important;
}
